h1{
p{
 font-family: verdana;
}

body {
    background-color: #33ccff;
}

  font-family: verdana;
  color:blue;
}

 h2{
  font-family: verdana;
  color:blue;
}
test.html   (   <a href="index.html">Return to Main Page</a>)
